.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container {
  overflow: hidden;
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
body .ant-message {
  z-index: 9999;
}
