.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .ant-message {
  z-index: 9999;
}
