#actions {
  display: flex;
  position: absolute;
  padding: 5px 8px;
  left: 10px;
  top: 10px;
  z-index: 2;
  border-radius: 100px;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: #fff;
    .actions {
      &-icon {
        color: #000;
      }
    }
  }
  .actions {
    &-icon {
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      transition: color 0.3s ease-in;
      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
}
