#bookmark-list {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  .bookmark {
    margin: 0 10px;
    &-cover {
      font-size: 20px;
    }
  }
}
.bookmark {
  &-popover {
    position: relative;
    padding-top: 15px;
  }
  &-name {
    margin-bottom: 0;
    font-size: 20px;
    min-width: 48px;
    text-align: center;
  }
  &-actions {
    position: absolute;
    top: -8px;
    right: -12px;
    &__btn {
      &.MuiIconButton-root {
        padding: 5px;
      }
    }
    &__icon {
      font-size: 14px !important;
    }
  }
  &-edit {
    &-dialog {
      .dialog {
        &-content {
          width: 400px;
          .MuiTypography-root {
            margin-top: 20px;
          }
        }
        &-upload {
          flex-direction: column;
          width: 120px;
          height: 120px;
          cursor: pointer;
          border-radius: 50%;
          &__img {
            width: 120px;
            height: 120px;
          }
          .MuiIcon-root {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
