#bookmark-list {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  .bookmark {
    margin: 0 10px;
    &-cover {
      padding: 0;
      width: 40px;
      min-width: auto;
      height: 40px;
      color: #fff;
      font-size: 20px;
      border-radius: 50%;
    }
  }
}
.bookmark {
  &-popover {
    position: relative;
    padding-top: 15px;
  }
  &-name {
    margin-bottom: 0;
    font-size: 20px;
    min-width: 48px;
    text-align: center;
  }
  &-actions {
    position: absolute;
    top: -8px;
    right: -12px;
    &__btn {
      &.MuiIconButton-root {
        padding: 5px;
      }
    }
    &__icon {
      font-size: 14px !important;
    }
  }
  &-edit {
    &-dialog {
      .dialog {
        &-content {
          width: 400px;
          .MuiTypography-root {
            margin-top: 20px;
          }
        }
        &-upload {
          flex-direction: column;
          width: 120px;
          height: 120px;
          cursor: pointer;
          border-radius: 50%;
          .MuiIcon-root {
            margin-bottom: 5px;
          }
        }
        &-avatar {
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          &__img {
            width: 120px;
            height: 120px;
          }
          &__hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            will-change: opacity;
            &:hover {
              opacity: 1;
            }
            .material-icons {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
