#home-time {
  text-align: center;
  font-size: 28px;
  .home-time {
    &__time {
      font-size: 4em;
      color: #fff;
    }
    &__tip {
      margin: 0.5em;
      font-size: 2em;
      color: #fff;
    }
  }
}
